<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>#{BUYER} 결제완료안내</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

<table>
  <tr><td style='font-size:1.2em;'>안녕하세요, #{SELLER} 담당자님.</td></tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td>
    <table style='border-radius:10px;background-color:#eeeeee;padding:10px;'>
      <tr><td style='font-weight:bold;'>#{BUYER}로 부터 결제가 완료되었습니다.</td></tr>
      <tr><td style='font-weight:bold;'>약정된 계좌에서 입금 확인 가능합니다.</td></tr> 
    </table>
  </td></tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td>엠피원 : https://www.mp1.co.kr</td></tr>
  <tr><td>고객센터 : 1688-7400 / 02-715-7260</td></tr>
  <tr><td>운영시간 : 평일 09:00 ~ 18:00 (은행 휴무일 제외)</td></tr>
</table>
</body>
</html>