<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
<style>
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Alegreya+Sans&family=Noto+Sans+KR&display=swap');
div.pane {padding:20px;font-family:'Alegreya Sans','Noto Sans KR',sans-serif;font-size:16px;line-height:20px;color:#555;}
div.pane h1 {font-size:1.2em;padding-bottom:20px;letter-spacing:-0.4px;}
div.pane p {border-top:1px solid #ddd;padding:20px 0;font-size:1em;line-height:1.6em;margin:0;}
@media only screen and (max-width:767px) {
  div.pane {font-size:0.825em;}
}
</style>
</head>
<body>

  <div class='pane'>
    <h1><a href='%%OWNER_URL_MAIN%%'>%%OWNER_BRAND_NM%%</a>에서 알려드립니다.</h1>
    <p>비밀번호를 재발급하시려면, <a href='%%NEW_PASSWORD_URL%%' style='font-weight:bold;'>여기</a>를 클릭하십시오.</p>
    <p>%%OWNER_NM%% | 고객센터 (%%OWNER_TEL%%)</p>
  </div>

</body>
</html>


