USE [master]
GO
/****** Object:  Database [FIRSTBILL]    Script Date: 2025-06-24 오후 3:29:00 ******/
CREATE DATABASE [FIRSTBILL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FIRSTBILL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FIRSTBILL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FIRSTBILL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FIRSTBILL_log.ldf' , SIZE = 139264KB , MAXSIZE = 2097152KB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FIRSTBILL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FIRSTBILL]
GO
/****** Object:  User [webuser]    Script Date: 2025-06-24 오후 3:29:00 ******/
CREATE USER [webuser] FOR LOGIN [webuser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  UserDefinedFunction [dbo].[SPLIT_FNC]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SPLIT_FNC](
  @STEXT  VARCHAR(8000)
, @SDELIM VARCHAR(20) ='#'
) RETURNS @RETARRAY TABLE (  
  IDX  SMALLINT
, VAL  VARCHAR(8000)
) 
AS  
BEGIN  
 DECLARE @IDX SMALLINT;  
 DECLARE @VAL VARCHAR(8000);  
 DECLARE @BCONTINUE BIT;  
 DECLARE @ISTRIKE SMALLINT;  
 DECLARE @IDELIMLENGTH TINYINT;
   
 SET @IDX = 1;  
 SET @STEXT = LTRIM(RTRIM(@STEXT));  
 SET @IDELIMLENGTH = LEN(@SDELIM);  
 SET @BCONTINUE = 1;  
 WHILE @BCONTINUE = 1  
   BEGIN  
    IF CHARINDEX(@SDELIM, @STEXT)>0  
      BEGIN  
        SET @VAL = SUBSTRING(@STEXT,1, CHARINDEX(@SDELIM,@STEXT)-1);  
        INSERT @RETARRAY (IDX, VAL) VALUES (@IDX, @VAL);
        SET @ISTRIKE = LEN(@VAL) + @IDELIMLENGTH;
        SET @IDX = @IDX + 1;
        SET @STEXT = LTRIM(RIGHT(@STEXT,LEN(@STEXT) - @ISTRIKE));  
      END
    ELSE  
      BEGIN  
        SET @VAL = @STEXT;  
        INSERT @RETARRAY (IDX, VAL) VALUES (@IDX, @VAL);  
        SET @BCONTINUE = 0;
      END  
    END  
  RETURN  
END
GO
/****** Object:  Table [dbo].[BILL_CORP_TB]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL_CORP_TB](
	[CPY_ID] [int] IDENTITY(1,1) NOT NULL,
	[CORPNUM] [char](10) NOT NULL,
	[CORPNAME] [nvarchar](70) NOT NULL,
	[CEONAME] [nvarchar](30) NOT NULL,
	[BIZTYPE] [nvarchar](40) NOT NULL,
	[BIZCLASS] [nvarchar](40) NOT NULL,
	[ADDR1] [nvarchar](200) NOT NULL,
	[ADDR2] [nvarchar](200) NOT NULL,
	[REG_DT] [smalldatetime] NOT NULL,
	[JOIN_YN] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CPY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILL_ITEM_TB]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL_ITEM_TB](
	[ITEM_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[BILL_SEQ] [int] NOT NULL,
	[PURCHASEEXPIRY] [char](8) NULL,
	[ITEM_NM] [nvarchar](200) NULL,
	[INFORMATION] [nvarchar](200) NULL,
	[UNIT] [money] NULL,
	[UNIT_PRICE] [money] NULL,
	[AMOUNT] [money] NULL,
	[TAX] [money] NULL,
	[DESCRIPTION] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ITEM_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILL_STATUS_HISTORY_TB]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL_STATUS_HISTORY_TB](
	[BILL_SEQ] [int] NULL,
	[BILL_STATUS] [int] NULL,
	[REG_DT] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILL_TB]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL_TB](
	[BILL_SEQ] [int] IDENTITY(1000000,1) NOT NULL,
	[BILL_SENDER_KEY] [char](5) NOT NULL,
	[BILL_STATUS] [int] NOT NULL,
	[INVOICE_KEY] [nvarchar](30) NULL,
	[CPY_ID] [int] NULL,
	[WRITE_DATE] [char](8) NULL,
	[ISSUE_DIRECTION] [tinyint] NOT NULL,
	[INVOICE_TYPE] [tinyint] NOT NULL,
	[TAX_TYPE] [tinyint] NOT NULL,
	[PURPOSE_TYPE] [tinyint] NOT NULL,
	[MODIFY_CODE] [char](1) NOT NULL,
	[AMT] [money] NULL,
	[TAX] [money] NULL,
	[TOTAL_AMT] [money] NULL,
	[INVOICER_CORP_NUM] [nvarchar](15) NULL,
	[INVOICER_CORP_NAME] [nvarchar](100) NULL,
	[INVOICER_CEO_NAME] [nvarchar](100) NULL,
	[INVOICER_ADDR] [nvarchar](250) NULL,
	[INVOICER_BIZ_TYPE] [nvarchar](250) NULL,
	[INVOICER_BIZ_CLASS] [nvarchar](250) NULL,
	[INVOICER_CONTACT_NAME] [nvarchar](100) NULL,
	[INVOICER_TEL] [nvarchar](20) NULL,
	[INVOICER_HP] [nvarchar](20) NULL,
	[INVOICER_EMAIL] [nvarchar](100) NULL,
	[INVOICEE_CORP_NUM] [nvarchar](15) NULL,
	[INVOICEE_CORP_NAME] [nvarchar](100) NULL,
	[INVOICEE_CEO_NAME] [nvarchar](100) NULL,
	[INVOICEE_ADDR] [nvarchar](250) NULL,
	[INVOICEE_BIZ_TYPE] [nvarchar](250) NULL,
	[INVOICEE_BIZ_CLASS] [nvarchar](250) NULL,
	[INVOICEE_CONTACT_NAME] [nvarchar](100) NULL,
	[INVOICEE_TEL] [nvarchar](20) NULL,
	[INVOICEE_HP] [nvarchar](20) NULL,
	[INVOICEE_EMAIL] [nvarchar](100) NULL,
	[REG_ID] [int] NULL,
	[REG_DT] [datetime] NULL,
	[DROP_ID] [int] NULL,
	[DROP_DT] [datetime] NULL,
	[REMARK] [nvarchar](50) NULL,
	[BILL_NO] [varchar](20) NULL,
 CONSTRAINT [PK__BILL_TB] PRIMARY KEY CLUSTERED 
(
	[BILL_SEQ] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILL_USER_TB]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL_USER_TB](
	[USER_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[CPY_ID] [int] NOT NULL,
	[MEMBERNAME] [nvarchar](30) NOT NULL,
	[ID] [nvarchar](20) NOT NULL,
	[PWD] [nvarchar](150) NOT NULL,
	[TEL] [nvarchar](20) NOT NULL,
	[EMAIL] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BILL_CORP_TB] ADD  DEFAULT (getdate()) FOR [REG_DT]
GO
ALTER TABLE [dbo].[BILL_CORP_TB] ADD  DEFAULT ('N') FOR [JOIN_YN]
GO
ALTER TABLE [dbo].[BILL_TB] ADD  CONSTRAINT [DF__BILL_TB__BILL___4CC1F5A1]  DEFAULT ('MPONE') FOR [BILL_SENDER_KEY]
GO
ALTER TABLE [dbo].[BILL_TB] ADD  CONSTRAINT [DF__BILL_TB__BILL___4DB619DA]  DEFAULT ((0)) FOR [BILL_STATUS]
GO
ALTER TABLE [dbo].[BILL_TB] ADD  CONSTRAINT [DF__BILL_TB__CPY_I__4EAA3E13]  DEFAULT ((0)) FOR [CPY_ID]
GO
ALTER TABLE [dbo].[BILL_TB] ADD  CONSTRAINT [DF__BILL_TB__ISSUE__4F9E624C]  DEFAULT ((1)) FOR [ISSUE_DIRECTION]
GO
ALTER TABLE [dbo].[BILL_TB] ADD  CONSTRAINT [DF__BILL_TB__INVOI__50928685]  DEFAULT ((1)) FOR [INVOICE_TYPE]
GO
ALTER TABLE [dbo].[BILL_TB] ADD  CONSTRAINT [DF__BILL_TB__TAX_T__5186AABE]  DEFAULT ((1)) FOR [TAX_TYPE]
GO
ALTER TABLE [dbo].[BILL_TB] ADD  CONSTRAINT [DF__BILL_TB__PURPO__527ACEF7]  DEFAULT ((1)) FOR [PURPOSE_TYPE]
GO
ALTER TABLE [dbo].[BILL_TB] ADD  CONSTRAINT [DF__BILL_TB__MODIF__536EF330]  DEFAULT (' ') FOR [MODIFY_CODE]
GO
ALTER TABLE [dbo].[BILL_TB] ADD  CONSTRAINT [DF__BILL_TB__REG_D__5927CC86]  DEFAULT (getdate()) FOR [REG_DT]
GO
ALTER TABLE [dbo].[BILL_ITEM_TB]  WITH CHECK ADD  CONSTRAINT [FK__BILL_ITEM__BILL] FOREIGN KEY([BILL_SEQ])
REFERENCES [dbo].[BILL_TB] ([BILL_SEQ])
GO
ALTER TABLE [dbo].[BILL_ITEM_TB] CHECK CONSTRAINT [FK__BILL_ITEM__BILL]
GO
/****** Object:  StoredProcedure [dbo].[BAT_LOAD_BILL_PROC]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BAT_LOAD_BILL_PROC] (
 @YMD CHAR(8) = '20250604'
)
AS
BEGIN
SET NOCOUNT ON;

DECLARE @REG_DT DATETIME;
DECLARE @CNT    INT;

    SET @REG_DT = GETDATE();
	SET @CNT    = 0;

IF @YMD = ''
  BEGIN
    SET @YMD = CONVERT(CHAR(8), GETDATE(), 112);
  END

INSERT INTO FIRSTBILL.DBO.BILL_TB (
       BILL_SENDER_KEY, BILL_STATUS
	 , BILL_NO, WRITE_DATE, ISSUE_DIRECTION, INVOICE_TYPE, TAX_TYPE, PURPOSE_TYPE, MODIFY_CODE
     , AMT, TAX, TOTAL_AMT
	 , INVOICER_CORP_NUM
	 , INVOICER_CORP_NAME
	 , INVOICER_CEO_NAME
	 , INVOICER_ADDR
	 , INVOICER_TEL
	 , INVOICER_HP
	 , INVOICER_EMAIL
	 , INVOICER_BIZ_TYPE
	 , INVOICER_BIZ_CLASS
	 , INVOICEE_CORP_NUM
	 , INVOICEE_CORP_NAME
	 , INVOICEE_CEO_NAME
	 , INVOICEE_ADDR
	 , INVOICEE_TEL
	 , INVOICEE_HP
	 , INVOICEE_EMAIL
	 , INVOICEE_BIZ_TYPE
	 , INVOICEE_BIZ_CLASS
	 , REMARK
	 , REG_ID, REG_DT)
SELECT SENDER AS BILL_SENDER_KEY
     , 0      AS BILL_STATUS
     , BILL_NO
	 , BILL_DT
     , (CASE WHEN REVERSE_YN = 'F' THEN 1 ELSE 2 END) AS ISSUE_DIRECTION    -- 정발행/역발행구분
     , (CASE WHEN BILL_TYPE = '01' THEN 1 ELSE 3 END) AS INVOICE_TYPE    -- 세금계산서/계산서
	 , (CASE WHEN PAY_TAX_RATE = '01' THEN 1 ELSE 2 END) AS TAX_TYPE -- 일반/영세 구분
	 , (CASE WHEN BILL_GUBUN = '01' THEN 1 ELSE 2 END) AS PURPOSE_TYPE   -- 영수/청구구분
	 , MOD_CODE
	 , PAY_SUM_AMOUNT AS AMT
	 , PAY_SUM_TAX AS TAX
	 , PAY_SUM_AMOUNT + PAY_SUM_TAX AS TOTAL_AMT
	 , SCOMP_VENDERNO
	 , SCOMP_NAME
	 , SCOMP_CEO
	 , SCOMP_ADDR + SCOMP_ADDR2
	 , SCOMP_TELNO
	 , SCOMP_HP
	 , SCOMP_EMAIL
	 , SCOMP_COND
	 , SCOMP_CLASS
	 , RCOMP_VENDERNO
	 , RCOMP_NAME
	 , RCOMP_CEO
	 , RCOMP_ADDR + RCOMP_ADDR2
	 , RCOMP_TELNO
	 , RCOMP_HP
	 , RCOMP_EMAIL
	 , RCOMP_COND
	 , RCOMP_CLASS
	 , LEFT(BILL_BIGO, 50)
	 , 1
	 , @REG_DT
  FROM [DOB2B-SERVER].DOB2B.DBO.B2B_TRANS_TAXBILL WITH (NOLOCK)
 WHERE TRANSACTIONDATE = @YMD
   AND BILL_NO NOT IN (SELECT BILL_NO
                         FROM FIRSTBILL.DBO.BILL_TB WITH (NOLOCK)
						WHERE REG_DT > DATEADD(D, -1, @REG_DT));

SELECT @CNT = COUNT(*)
  FROM FIRSTBILL.DBO.BILL_TB WITH (NOLOCK)
 WHERE REG_DT = @REG_DT;

INSERT INTO FIRSTBILL.DBO.BILL_ITEM_TB (BILL_SEQ, PURCHASEEXPIRY, ITEM_NM, INFORMATION, UNIT, UNIT_PRICE, AMOUNT, TAX)
SELECT B.BILL_SEQ
     , I.ITEM_DT
     , I.ITEM_NAME
	 , ISNULL(I.ITEM_UNIT, '-') AS INFORMATION
	 , I.ITEM_CNT               AS UNIT
	 , I.ITEM_PRICE
	 , I.ITEM_AMOUNT
	 , I.ITEM_TAX
  FROM [DOB2B-SERVER].DOB2B.DBO.B2B_TRANS_TAXBILL_ITEM I WITH (NOLOCK)
 INNER JOIN FIRSTBILL.DBO.BILL_TB B WITH (NOLOCK) ON B.BILL_NO = I.BILL_NO
 WHERE I.BILL_NO IN (SELECT BILL_NO 
                       FROM FIRSTBILL.DBO.BILL_TB WITH (NOLOCK)
                      WHERE REG_DT = @REG_DT);

UPDATE FIRSTBILL.DBO.BILL_TB 
   SET FIRSTBILL.DBO.BILL_TB.CPY_ID = B.CPY_ID
  FROM FIRSTBILL.DBO.BILL_CORP_TB B WITH (NOLOCK)
 WHERE FIRSTBILL.DBO.BILL_TB.INVOICER_CORP_NUM = B.CORPNUM
   AND FIRSTBILL.DBO.BILL_TB.CPY_ID = 0;

SELECT @CNT AS CNT;

END
GO
/****** Object:  StoredProcedure [dbo].[BILL_ADD_PROC]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BILL_ADD_PROC] (
  @BILL_SENDER_KEY CHAR(5)
, @CPY_ID INT
, @REG_ID INT
, @ISSUE_DIRECTION TINYINT
, @INVOICE_TYPE TINYINT
, @TAX_TYPE TINYINT
, @PURPOSE_TYPE TINYINT
, @MODIFY_CODE CHAR(1)
, @AMT MONEY
, @TAX MONEY
, @TOTAL_AMT MONEY
, @WRITE_DATE CHAR(8)
, @INVOICER_CORP_NUM NVARCHAR(10)
, @INVOICER_CORP_NAME NVARCHAR(100)
, @INVOICER_CEO_NAME NVARCHAR(100)
, @INVOICER_ADDR NVARCHAR(250)
, @INVOICER_BIZ_TYPE NVARCHAR(250)
, @INVOICER_BIZ_CLASS NVARCHAR(250)
, @INVOICER_CONTACT_NAME NVARCHAR(100)
, @INVOICER_EMAIL NVARCHAR(100)
, @INVOICEE_CORP_NUM NVARCHAR(10)
, @INVOICEE_CORP_NAME NVARCHAR(100)
, @INVOICEE_CEO_NAME NVARCHAR(100)
, @INVOICEE_ADDR NVARCHAR(250)
, @INVOICEE_BIZ_TYPE NVARCHAR(250)
, @INVOICEE_BIZ_CLASS NVARCHAR(250)
, @INVOICEE_CONTACT_NAME NVARCHAR(100)
, @INVOICEE_TEL NVARCHAR(20)
, @INVOICEE_EMAIL NVARCHAR(100)
, @ITEM_XML XML = ''
, @REMARK   NVARCHAR(50) = ''
)
AS
BEGIN
SET NOCOUNT ON;

DECLARE @BILL_SEQ INT;

 INSERT INTO DBO.BILL_TB
           ( BILL_SENDER_KEY
           , BILL_STATUS
           , INVOICE_KEY
           , CPY_ID
		   , REG_ID
           , WRITE_DATE
           , ISSUE_DIRECTION
           , INVOICE_TYPE
           , TAX_TYPE
           , PURPOSE_TYPE
           , MODIFY_CODE
           , AMT
           , TAX
           , TOTAL_AMT
           , INVOICER_CORP_NUM
           , INVOICER_CORP_NAME
           , INVOICER_CEO_NAME
           , INVOICER_ADDR
           , INVOICER_BIZ_TYPE
           , INVOICER_BIZ_CLASS
           , INVOICER_CONTACT_NAME
           , INVOICER_EMAIL
           , INVOICEE_CORP_NUM
           , INVOICEE_CORP_NAME
           , INVOICEE_CEO_NAME
           , INVOICEE_ADDR
           , INVOICEE_BIZ_TYPE
           , INVOICEE_BIZ_CLASS
           , INVOICEE_CONTACT_NAME
           , INVOICEE_TEL
           , INVOICEE_EMAIL
		   , REMARK)
     VALUES (
             @BILL_SENDER_KEY
           , 0
           , ''
           , @CPY_ID
		   , @REG_ID
           , @WRITE_DATE
           , @ISSUE_DIRECTION
           , @INVOICE_TYPE
           , @TAX_TYPE
           , @PURPOSE_TYPE
           , @MODIFY_CODE
           , @AMT
           , @TAX
           , @TOTAL_AMT
           , @INVOICER_CORP_NUM
           , @INVOICER_CORP_NAME
           , @INVOICER_CEO_NAME
           , @INVOICER_ADDR
           , @INVOICER_BIZ_TYPE
           , @INVOICER_BIZ_CLASS
           , @INVOICER_CONTACT_NAME
           , @INVOICER_EMAIL
           , @INVOICEE_CORP_NUM
           , @INVOICEE_CORP_NAME
           , @INVOICEE_CEO_NAME
           , @INVOICEE_ADDR
           , @INVOICEE_BIZ_TYPE
           , @INVOICEE_BIZ_CLASS
           , @INVOICEE_CONTACT_NAME
           , @INVOICEE_TEL
           , @INVOICEE_EMAIL
		   , @REMARK
     );
     
         SET @BILL_SEQ = @@IDENTITY;
     
      INSERT INTO DBO.BILL_ITEM_TB (
             BILL_SEQ
           , PURCHASEEXPIRY
           , ITEM_NM
           , INFORMATION
           , UNIT
           , UNIT_PRICE
           , AMOUNT
           , TAX
           , [DESCRIPTION])
      SELECT @BILL_SEQ 
           , X.C.value('(E/text())[1]', 'CHAR(8)') AS PURCHASEEXPIRY
           , X.C.value('(NM/text())[1]', 'NVARCHAR(200)') AS ITEM_NM
           , X.C.value('(I/text())[1]', 'NVARCHAR(200)') AS INFORMATION
           , X.C.value('(U/text())[1]', 'MONEY') AS UNIT
           , X.C.value('(P/text())[1]', 'MONEY') AS UNIT_PRICE
           , X.C.value('(A/text())[1]', 'MONEY') AS AMOUNT
           , X.C.value('(T/text())[1]', 'MONEY') AS TAX
           , X.C.value('(D/text())[1]', 'NVARCHAR(200)') AS [DESCRIPTION]
        FROM @ITEM_XML.nodes(N'/N') AS X(C);

     SELECT @BILL_SEQ AS RESULT;
END


GO
/****** Object:  StoredProcedure [dbo].[BILL_CORPNUM_CHECK_PROC]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BILL_CORPNUM_CHECK_PROC] (
  @CORPNUM CHAR(10)
)
AS
BEGIN
SET NOCOUNT ON;

SELECT COUNT(*) AS CNT
  FROM DBO.BILL_CORP_TB WITH (NOLOCK)
 WHERE CORPNUM = @CORPNUM;

END
GO
/****** Object:  StoredProcedure [dbo].[BILL_DETAIL_PROC]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BILL_DETAIL_PROC] (
  @BILL_SEQ INT = 1000007
)
AS
BEGIN
SET NOCOUNT ON;

SELECT B.BILL_SEQ
     , B.BILL_SENDER_KEY
	 , B.BILL_STATUS
	 , B.WRITE_DATE
	 , B.INVOICE_TYPE
	 , B.TAX_TYPE
	 , B.PURPOSE_TYPE
	 , B.MODIFY_CODE
	 , CAST(B.AMT AS BIGINT) AS AMT
	 , CAST(B.TAX AS BIGINT) AS TAX
	 , CAST(B.TOTAL_AMT AS BIGINT) AS TOTAL_AMT
     , B.INVOICER_CORP_NUM
	 , B.INVOICER_CORP_NAME
	 , B.INVOICER_CEO_NAME
	 , B.INVOICER_ADDR
	 , B.INVOICER_BIZ_TYPE
	 , B.INVOICER_BIZ_CLASS
	 , ISNULL(B.INVOICER_CONTACT_NAME, '') AS INVOICER_CONTACT_NAME
	 , B.INVOICER_TEL
	 , B.INVOICER_HP
	 , B.INVOICER_EMAIL
	 , B.INVOICEE_CORP_NUM
	 , B.INVOICEE_CORP_NAME
	 , B.INVOICEE_CEO_NAME
	 , B.INVOICEE_ADDR
	 , B.INVOICEE_BIZ_TYPE
	 , B.INVOICEE_BIZ_CLASS
	 , ISNULL(B.INVOICEE_CONTACT_NAME, '') AS INVOICEE_CONTACT_NAME
	 , B.INVOICEE_TEL
	 , B.INVOICEE_HP
	 , B.INVOICEE_EMAIL
	 , B.REG_ID
	 , '' AS EMP_NM
	 , B.REMARK
	 , B.BILL_NO
  FROM DBO.BILL_TB B WITH (NOLOCK)
 WHERE B.BILL_SEQ = @BILL_SEQ;

END
GO
/****** Object:  StoredProcedure [dbo].[BILL_DROP_PROC]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BILL_DROP_PROC] (
  @BILL_SEQ NVARCHAR(MAX) 
, @DROP_ID  INT
)
AS
BEGIN
SET NOCOUNT ON;

  UPDATE DBO.BILL_TB
     SET BILL_STATUS = 9
	   , DROP_ID = @DROP_ID
	   , DROP_DT = GETDATE()
   WHERE BILL_SEQ IN (SELECT CAST(VAL AS INT)
                        FROM DBO.SPLIT_FNC(@BILL_SEQ, ','));

END
GO
/****** Object:  StoredProcedure [dbo].[BILL_ID_CHECK_PROC]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BILL_ID_CHECK_PROC] (
  @ID NVARCHAR(20)
)
AS
BEGIN
SET NOCOUNT ON;

SELECT COUNT(*) AS CNT
  FROM DBO.BILL_USER_TB WITH (NOLOCK)
 WHERE ID = @ID;

END
GO
/****** Object:  StoredProcedure [dbo].[BILL_ITEM_PROC]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BILL_ITEM_PROC] (
  @BILL_SEQ INT = 1000007
)
AS
BEGIN
SET NOCOUNT ON;
SELECT ITEM_SEQ
     , BILL_SEQ
	 , PURCHASEEXPIRY
	 , ITEM_NM
	 , INFORMATION
	 , CAST(UNIT AS BIGINT) AS UNIT
	 , CAST(UNIT_PRICE AS BIGINT) AS UNIT_PRICE
	 , CAST(AMOUNT AS BIGINT) AS AMOUNT
	 , CAST(TAX AS BIGINT) AS TAX
	 , DESCRIPTION
  FROM DBO.BILL_ITEM_TB WITH (NOLOCK)
 WHERE BILL_SEQ = @BILL_SEQ;
END
GO
/****** Object:  StoredProcedure [dbo].[BILL_LIST_BY_CPY_ID_PROC]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BILL_LIST_BY_CPY_ID_PROC] (
  @PAGE INT = 1
, @CPY_ID INT = 0
, @WRITE_DATE_START CHAR(8) = ''
, @WRITE_DATE_END   CHAR(8) = ''
, @INVOICEE_CORP_NAME NVARCHAR(100) = ''
)
AS
BEGIN
SET NOCOUNT ON;

DECLARE @PAGESIZE INT = 20;

IF @WRITE_DATE_START = ''
  BEGIN
    SELECT @WRITE_DATE_START = CONVERT(CHAR(8), DATEADD(YEAR, -1, GETDATE()), 112);
    SELECT @WRITE_DATE_END   = CONVERT(CHAR(8), GETDATE(), 112);
  END

SELECT X.*
  FROM (
SELECT ROW_NUMBER() OVER(ORDER BY B.WRITE_DATE DESC, B.BILL_SEQ DESC) AS RN
     , COUNT(*) OVER() AS TCNT
     , B.BILL_SEQ
	 , ISNULL(B.INVOICE_KEY, '') AS INVOICE_KEY
     , B.BILL_SENDER_KEY
	 , B.BILL_STATUS
	 , B.WRITE_DATE
	 , B.INVOICE_TYPE
	 , B.TAX_TYPE
	 , B.PURPOSE_TYPE
	 , B.MODIFY_CODE
	 , CAST(B.AMT AS BIGINT) AS AMT
	 , CAST(B.TAX AS BIGINT) AS TAX
	 , CAST(B.TOTAL_AMT AS BIGINT) AS TOTAL_AMT
	 , B.INVOICER_CORP_NAME
	 , B.INVOICEE_CORP_NAME
	 , B.INVOICEE_CORP_NUM
	 , B.BILL_NO
	 , B.REMARK
  FROM DBO.BILL_TB B WITH (NOLOCK)
 WHERE B.CPY_ID = @CPY_ID
   AND B.BILL_STATUS NOT IN (0, 9)
   AND WRITE_DATE BETWEEN @WRITE_DATE_START AND @WRITE_DATE_END
   AND INVOICEE_CORP_NAME LIKE CONCAT('%', @INVOICEE_CORP_NAME, '%')
       ) X
 WHERE X.RN BETWEEN (@PAGE-1)*@PAGESIZE+1 AND @PAGE*@PAGESIZE
 ORDER BY X.RN ASC;

END
GO
/****** Object:  StoredProcedure [dbo].[BILL_STANDBY_PROC]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BILL_STANDBY_PROC] (
  @PAGE INT = 1
, @CPY_ID INT = 0
)
AS
BEGIN
SET NOCOUNT ON;

DECLARE @PAGESIZE INT = 20;

SELECT X.*
  FROM (
SELECT ROW_NUMBER() OVER(ORDER BY B.WRITE_DATE ASC, B.BILL_SEQ ASC) AS RN
     , COUNT(*) OVER() AS TCNT
     , B.BILL_SEQ
     , B.BILL_SENDER_KEY
	 , B.BILL_STATUS
	 , B.WRITE_DATE
	 , B.INVOICE_TYPE
	 , B.TAX_TYPE
	 , B.PURPOSE_TYPE
	 , B.MODIFY_CODE
	 , CAST(B.AMT AS BIGINT) AS AMT
	 , CAST(B.TAX AS BIGINT) AS TAX
	 , CAST(B.TOTAL_AMT AS BIGINT) AS TOTAL_AMT
	 , B.INVOICER_CORP_NAME
	 , B.INVOICEE_CORP_NAME
	 , B.INVOICEE_CORP_NUM
	 , B.REG_ID
	 , '' AS DEP_NM
	 , '' AS EMP_NM
	 , B.BILL_NO
	 , B.REMARK
  FROM DBO.BILL_TB B WITH (NOLOCK)
 WHERE B.BILL_STATUS = 0
   AND B.CPY_ID = @CPY_ID
       ) X
 WHERE X.RN BETWEEN (@PAGE-1)*@PAGESIZE+1 AND @PAGE*@PAGESIZE
 ORDER BY X.RN ASC;

END
GO
/****** Object:  StoredProcedure [dbo].[BILL_STATUS_PROC]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BILL_STATUS_PROC] 
AS
BEGIN
SET NOCOUNT ON;

SELECT TOP 200 B.BILL_NO
     , B.INVOICER_CORP_NUM
  FROM DBO.BILL_TB B WITH (NOLOCK)
 WHERE B.BILL_STATUS IN (1, 2, 3, 1000, 3014, -11013)
 ORDER BY BILL_SEQ ASC;

END
GO
/****** Object:  StoredProcedure [dbo].[BILL_UPDATE_PROC]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BILL_UPDATE_PROC] (
  @BILL_SEQ INT
, @ISSUE_DIRECTION TINYINT
, @INVOICE_TYPE TINYINT
, @TAX_TYPE TINYINT
, @PURPOSE_TYPE TINYINT
, @MODIFY_CODE CHAR(1)
, @AMT MONEY
, @TAX MONEY
, @TOTAL_AMT MONEY
, @WRITE_DATE CHAR(8)
, @INVOICER_CONTACT_NAME NVARCHAR(100)
, @INVOICER_TEL NVARCHAR(20)
, @INVOICER_EMAIL NVARCHAR(100)
, @INVOICEE_CORP_NUM NVARCHAR(10)
, @INVOICEE_CORP_NAME NVARCHAR(100)
, @INVOICEE_CEO_NAME NVARCHAR(100)
, @INVOICEE_ADDR NVARCHAR(250)
, @INVOICEE_BIZ_TYPE NVARCHAR(250)
, @INVOICEE_BIZ_CLASS NVARCHAR(250)
, @INVOICEE_CONTACT_NAME NVARCHAR(100)
, @INVOICEE_TEL NVARCHAR(20)
, @INVOICEE_EMAIL NVARCHAR(100)
, @ITEM_XML XML = ''
, @REMARK   NVARCHAR(50) = ''
)
AS
BEGIN
SET NOCOUNT ON;

UPDATE DBO.BILL_TB
   SET WRITE_DATE = @WRITE_DATE
     , ISSUE_DIRECTION = @ISSUE_DIRECTION
     , INVOICE_TYPE = @INVOICE_TYPE
     , TAX_TYPE = @TAX_TYPE
     , PURPOSE_TYPE = @PURPOSE_TYPE
     , MODIFY_CODE  = @MODIFY_CODE
     , AMT = @AMT
     , TAX = @TAX
     , TOTAL_AMT = @TOTAL_AMT
     , INVOICER_CONTACT_NAME = @INVOICER_CONTACT_NAME
	 , INVOICER_TEL = @INVOICER_TEL
     , INVOICER_EMAIL = @INVOICER_EMAIL
     , INVOICEE_CORP_NUM = @INVOICEE_CORP_NUM
     , INVOICEE_CORP_NAME = @INVOICEE_CORP_NAME
     , INVOICEE_CEO_NAME = @INVOICEE_CEO_NAME
     , INVOICEE_ADDR = @INVOICEE_ADDR
     , INVOICEE_BIZ_TYPE = @INVOICEE_BIZ_TYPE
     , INVOICEE_BIZ_CLASS = @INVOICEE_BIZ_CLASS
     , INVOICEE_CONTACT_NAME = @INVOICEE_CONTACT_NAME
     , INVOICEE_TEL = @INVOICEE_TEL
     , INVOICEE_EMAIL = @INVOICEE_EMAIL
     , REMARK = @REMARK
 WHERE BILL_SEQ = @BILL_SEQ;

 DELETE FROM DBO.BILL_ITEM_TB WHERE BILL_SEQ = @BILL_SEQ;
     
 INSERT INTO DBO.BILL_ITEM_TB (
        BILL_SEQ
      , PURCHASEEXPIRY
      , ITEM_NM
      , INFORMATION
      , UNIT
      , UNIT_PRICE
      , AMOUNT
      , TAX
      , [DESCRIPTION])
 SELECT @BILL_SEQ 
      , X.C.value('(E/text())[1]', 'CHAR(8)') AS PURCHASEEXPIRY
      , X.C.value('(NM/text())[1]', 'NVARCHAR(200)') AS ITEM_NM
      , X.C.value('(I/text())[1]', 'NVARCHAR(200)') AS INFORMATION
      , X.C.value('(U/text())[1]', 'MONEY') AS UNIT
      , X.C.value('(P/text())[1]', 'MONEY') AS UNIT_PRICE
      , X.C.value('(A/text())[1]', 'MONEY') AS AMOUNT
      , X.C.value('(T/text())[1]', 'MONEY') AS TAX
      , X.C.value('(D/text())[1]', 'NVARCHAR(200)') AS [DESCRIPTION]
   FROM @ITEM_XML.nodes(N'/N') AS X(C);

 SELECT @BILL_SEQ AS RESULT;
END


GO
/****** Object:  StoredProcedure [dbo].[BILL_UPDATE_STATUS_AND_AUTH_PROC]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BILL_UPDATE_STATUS_AND_AUTH_PROC] (
  @BILL_NO  VARCHAR(20)
, @STATUS   INT
, @AUTH     NVARCHAR(30)
)
AS
BEGIN
SET NOCOUNT ON;
  UPDATE DBO.BILL_TB 
     SET BILL_STATUS = @STATUS
	   , INVOICE_KEY = @AUTH
   WHERE BILL_NO    = @BILL_NO;

END
GO
/****** Object:  StoredProcedure [dbo].[BILL_UPDATE_STATUS_PROC]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BILL_UPDATE_STATUS_PROC] (
  @BILL_SEQ INT
, @STATUS   INT
)
AS
BEGIN
SET NOCOUNT ON;
  UPDATE DBO.BILL_TB 
     SET BILL_STATUS = @STATUS
   WHERE BILL_SEQ    = @BILL_SEQ;

  INSERT INTO DBO.BILL_STATUS_HISTORY_TB (BILL_SEQ, BILL_STATUS, REG_DT)
  VALUES (@BILL_SEQ, @STATUS, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[BILL_USER_ADD_PROC]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BILL_USER_ADD_PROC] (
  @CORPNUM  CHAR(10)
, @CORPNAME NVARCHAR(70)
, @CEONAME  NVARCHAR(30)
, @BIZTYPE  NVARCHAR(40)
, @BIZCLASS NVARCHAR(40)
, @ADDR1    NVARCHAR(200)
, @ADDR2    NVARCHAR(200)
, @MEMBERNAME NVARCHAR(30)
, @ID NVARCHAR(20)
, @PWD NVARCHAR(150)
, @TEL NVARCHAR(20)
, @EMAIL NVARCHAR(40)
)
AS
BEGIN
SET NOCOUNT ON;

DECLARE @CPY_ID INT = 0;

INSERT INTO DBO.BILL_CORP_TB (CORPNUM, CORPNAME, CEONAME, BIZTYPE, BIZCLASS, ADDR1, ADDR2)
VALUES (@CORPNUM, @CORPNAME, @CEONAME, @BIZTYPE, @BIZCLASS, @ADDR1, @ADDR2);

SET @CPY_ID = @@IDENTITY;

INSERT INTO DBO.BILL_USER_TB (CPY_ID, MEMBERNAME, ID, PWD, TEL, EMAIL)
VALUES (@CPY_ID, @MEMBERNAME, @ID, @PWD, @TEL, @EMAIL);

SELECT @@IDENTITY AS USER_SEQ;

END
GO
/****** Object:  StoredProcedure [dbo].[BILL_USER_DETAIL_PROC]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BILL_USER_DETAIL_PROC] (
  @USER_SEQ INT = 0
)
AS
BEGIN
SET NOCOUNT ON;

SELECT C.CPY_ID, C.CORPNUM, C.CORPNAME, C.CEONAME, C.BIZTYPE, C.BIZCLASS, C.ADDR1, C.ADDR2
     , U.USER_SEQ, U.MEMBERNAME, U.ID, U.PWD, U.TEL, U.EMAIL
  FROM DBO.BILL_CORP_TB C WITH (NOLOCK)
 INNER JOIN DBO.BILL_USER_TB U WITH (NOLOCK) ON U.CPY_ID = C.CPY_ID
 WHERE U.USER_SEQ = @USER_SEQ;

END
GO
/****** Object:  StoredProcedure [dbo].[BILL_USER_DROP_PROC]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BILL_USER_DROP_PROC] (
@CPY_ID INT 
)
AS
BEGIN
SET NOCOUNT ON;

DELETE FROM DBO.BILL_USER_TB WHERE CPY_ID = @CPY_ID;
DELETE FROM DBO.BILL_CORP_TB WHERE CPY_ID = @CPY_ID;

END
GO
/****** Object:  StoredProcedure [dbo].[BILL_USER_LOGIN_PROC]    Script Date: 2025-06-24 오후 3:29:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BILL_USER_LOGIN_PROC] (
  @ID NVARCHAR(20)
, @PWD NVARCHAR(150)
)
AS
BEGIN
SET NOCOUNT ON;

SELECT C.CPY_ID, C.CORPNUM, C.CORPNAME, C.CEONAME, C.BIZTYPE, C.BIZCLASS, C.ADDR1, C.ADDR2
     , U.USER_SEQ, U.MEMBERNAME, U.ID, U.PWD, U.TEL, U.EMAIL
  FROM DBO.BILL_CORP_TB C WITH (NOLOCK)
 INNER JOIN DBO.BILL_USER_TB U WITH (NOLOCK) ON U.CPY_ID = C.CPY_ID
 WHERE U.ID = @ID
   AND U.PWD = @PWD;

END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'항목일련번호' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_ITEM_TB', @level2type=N'COLUMN',@level2name=N'ITEM_SEQ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MP세금계산서일련번호' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_ITEM_TB', @level2type=N'COLUMN',@level2name=N'BILL_SEQ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'거래일' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_ITEM_TB', @level2type=N'COLUMN',@level2name=N'PURCHASEEXPIRY'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'품목명' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_ITEM_TB', @level2type=N'COLUMN',@level2name=N'ITEM_NM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'규격' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_ITEM_TB', @level2type=N'COLUMN',@level2name=N'INFORMATION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'수량' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_ITEM_TB', @level2type=N'COLUMN',@level2name=N'UNIT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'단가' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_ITEM_TB', @level2type=N'COLUMN',@level2name=N'UNIT_PRICE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'공급가액' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_ITEM_TB', @level2type=N'COLUMN',@level2name=N'AMOUNT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'세액' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_ITEM_TB', @level2type=N'COLUMN',@level2name=N'TAX'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'설명(사용하지않음)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_ITEM_TB', @level2type=N'COLUMN',@level2name=N'DESCRIPTION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MP세금계산서 품목' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_ITEM_TB'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MP세금계산서일련번호' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_STATUS_HISTORY_TB', @level2type=N'COLUMN',@level2name=N'BILL_SEQ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'상태' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_STATUS_HISTORY_TB', @level2type=N'COLUMN',@level2name=N'BILL_STATUS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'등록일' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_STATUS_HISTORY_TB', @level2type=N'COLUMN',@level2name=N'REG_DT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MP세금계산서 상태변경이력' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_STATUS_HISTORY_TB'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'일련번호' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'BILL_SEQ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'발송자키' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'BILL_SENDER_KEY'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'발송상태' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'BILL_STATUS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'승인번호' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'INVOICE_KEY'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'회원사아이디' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'CPY_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'작성일' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'WRITE_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'직접발행구분' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'ISSUE_DIRECTION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'세금계산서유형' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'INVOICE_TYPE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'세금유형' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'TAX_TYPE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'발행목적분류' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'PURPOSE_TYPE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'수정코드' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'MODIFY_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'공급가' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'AMT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'세액' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'TAX'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'합계금액' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'TOTAL_AMT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'공급자사업자번호' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'INVOICER_CORP_NUM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'공급자업체명' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'INVOICER_CORP_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'공급자대표' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'INVOICER_CEO_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'공급자주소' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'INVOICER_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'공급자업태' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'INVOICER_BIZ_TYPE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'공급자종목' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'INVOICER_BIZ_CLASS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'공급자담당자' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'INVOICER_CONTACT_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'공급자전화번호' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'INVOICER_TEL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'공급자휴대전화번호' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'INVOICER_HP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'공급자이메일주소' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'INVOICER_EMAIL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'공급받는자사업자번호' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'INVOICEE_CORP_NUM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'공급받는자업체명' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'INVOICEE_CORP_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'공급받는자대표' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'INVOICEE_CEO_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'공급받는자주소' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'INVOICEE_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'공급받는자업태' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'INVOICEE_BIZ_TYPE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'공급받는자종목' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'INVOICEE_BIZ_CLASS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'공급받는자담당자' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'INVOICEE_CONTACT_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'공급받는자전화번호' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'INVOICEE_TEL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'공급받는자휴대전화번호' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'INVOICEE_HP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'공급받는자이메일주소' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'INVOICEE_EMAIL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'등록자아이디' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'REG_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'등록일시' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'REG_DT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'삭제자아이디' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'DROP_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'삭제일시' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'DROP_DT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'비고' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BILL_TB', @level2type=N'COLUMN',@level2name=N'REMARK'
GO
USE [master]
GO
